# Tell git to ignore the python virtual environment
.venv/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Data (keep raw data out until finalized)
data/*.txt
data/*.csv

# Generated figures
figures/*.pdf
figures/*.png

# Ignore everything in build
build/*

# Re-allow the directory itself
!build/

# Keep PDFs in build
!build/*.pdf